{% extends '_base.html' %}

{% block title %}
Modox | {{ project.name }}
{% endblock title %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
{% endblock extra_head %}

{% block content %}

<main class="main">
    <section class="project__details">
        <h2 class="section__title">
            {{ project.name }} Details
        </h2>
        <br />
        <br />

        <div class="details__container container grid">
            <div class="details__content grid">
                {% if images %}
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                        {% if project.thumbnail %}
                        <div class="swiper-slide">
                            <img src="{{ project.thumbnail.url }}" alt="{{ project.name }} Thumbnail">
                        </div>
                        {% endif %}
                        {% for image in images %}
                            <div class="swiper-slide">
                                <img src="{{ image.image.url }}" alt="{{ img.project.name }} Thumbnail" />
                            </div>
                        {% endfor %}
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                {% endif %}

                <div>
                    <h3 class="details__title">Description: </h3>
                    <span class="details__text">
                        {{ project.description }}
                    </span>
                </div>

                <div>
                    <h3 class="details__title">Created: </h3>
                    <span class="details__text">
                        {{ project.created.date }}
                    </span>
                </div>

                {% if project.tags.all %}
                <div>
                    <h3 class="details__title">Tags: </h3>


                    <div class="details__text-categories">
                        {% for tag in project.tags.all %}
                            <div>
                                {{ tag }}
                                {% if not forloop.last %},{% endif %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
                {% endif %}

                {% if project.website_url %}
                <div>
                    {% if 'github' in project.website_url or 'gitlab' in project.website_url %}
                    <a href="{{ project.website_url }}" class="button button__flex details__button" target="_blank">
                        View Code
                        <i class="uil uil-arrow-right button__icon details__button-icon"></i>
                    </a>

                    {% else %}

                    <a href="{{ project.website_url }}" class="button button__flex details__button" target="_blank">
                        Visit Website
                        <i class="uil uil-arrow-right button__icon details__button-icon"></i>
                    </a>
                    {% endif %}
                </div>    
                {% endif %}            

            </div>
        </div>
    </section>
</main>

{% endblock content %}

{% block scripts %}

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>

{% endblock scripts %}